/*fonts*/
/*custom font import*/
@font-face {font-family: "kaushan";src: url("assets/fonts/KaushanScript-Regular.ttf");}
@font-face {font-family: "montserrat";src: url("assets/fonts/Montserrat-Regular.ttf");}
@font-face {font-family: "roboto";src: url("assets/fonts/Roboto-Regular.ttf");}
@font-face {font-family: "montserrat-bold";src: url("assets/fonts/Montserrat-ExtraBold.ttf");}
/*custom font name*/
.text-kaushan {font-family: kaushan;}
.text-montserrat {font-family: montserrat;}
.text-montserrat-bold {font-family: montserrat-bold;}
.text-roboto {font-family: roboto;}
/*fonts end*/
/*global css*/

#contact .container {padding: 20px 10px; margin: auto}

.btn-color{background-color: #DD4F13; border: none;border-radius: 20px;}
.btn-color:hover{background-color: #F27023; box-shadow: 15px 15px 20px #DD4F13;}
/*img{width: 100%; height: auto;}*/
/*bootstrap card customization*/


/*portfolio end*/
 .contact{background-color: #F8F9FA}
 .contact i{background-color: #DD4F13; height: 50px; width: 50px; text-align: center; padding-top: 12px; color: #fff;}

#footer .footer-top{background-color: #F27023; color: #e0dad7;}
#footer .footer-links ul{list-style-type: none;}
#footer .footer-links i{margin-left: -25px}
#footer .footer-top li a{color: #e6e6e6;text-decoration: none;}
#footer .footer-top li a:hover{color: #982d00; }


#footer .social-link i{margin: 0 5px; font-size: 20px;color: #E6E6E6;}
#footer .social-link i:hover{color: #7E4CA1;}
#footer .footer-bottom{background-color: #DD4F13;}
#footer .footer-bottom .design-by{text-align: right}
#footer .footer-bottom .container{padding: 20px; color: #e6e6e6;} 


@media only screen and (max-width: 768px){
  #footer.footer-bottom{text-align: center}
   .footer-bottom .design-by{text-align: center; }
}

